# Робота з випадковими величинами

## randint

In [ ]:
import random

rand_a = random.randint(1, 10)

print(rand_a)

print(type(rand_a))

7
<class 'int'>

In [ ]:
def get_n_randint(n):
    rand_list = []
    for i in range(0,n):
        rand_list.append(random.randint(1, 10))
    return rand_list

In [ ]:
get_n_randint(5)

[7, 10, 8, 1, 2]

## random

In [ ]:
import random

num = random.random()
print(num)

print(type(num))

0.8419745767903447
<class 'float'>

## randrange

In [ ]:
import random
print(random.randrange(10))  # Верхня межа є 10, але не включається

3

In [ ]:
import random


target = random.randrange(1, 11, 2)
print(f"Ціль: {target}")

Ціль: 1

In [ ]:
def my_rand_range(start=1, stop=10, step=1):
    target = random.randrange(start, stop, step)
    return target

In [ ]:
def my_rand_list(n_list):
    rand_list = []
    for i in range(0, n_list):
        rand_list.append(my_rand_range())
    return rand_list

In [ ]:
my_list = my_rand_list(5)
print(type(my_list))
print(my_list)

<class 'list'>
[8, 2, 7, 3, 2]

## shuffle

In [ ]:
import random

cards = ["Туз", "Король", "Дама", "Валет", "10", "9", "8", "7", "6"]


random.shuffle(cards)

print(f"Перемішана колода: {cards}")

Перемішана колода: ['Валет', '10', 'Дама', '6', 'Туз', '7', '9', '8', 'Король']

In [ ]:
idx = list(range(len(cards)))
print(idx)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
list(zip(idx, cards ))

[(0, 'Валет'),
 (1, '10'),
 (2, 'Дама'),
 (3, '6'),
 (4, 'Туз'),
 (5, '7'),
 (6, '9'),
 (7, '8'),
 (8, 'Король')]

In [ ]:
len(cards)

9

In [ ]:
def dict_shuffle(lst):
    random.shuffle(lst)
    idx = list(range(len(lst)))
    shfl_dict = dict(list(zip(idx, lst)))

    return shfl_dict

In [ ]:
dict_shuffle(cards)

{0: '8',
 1: '7',
 2: '10',
 3: 'Валет',
 4: 'Король',
 5: 'Дама',
 6: '9',
 7: '6',
 8: 'Туз'}

## choice

In [ ]:
import random

fruits = ['apple', 'banana', 'orange']
print(random.choice(fruits))

apple

In [ ]:
import random

items = ['яблуко', 'банан', 'вишня', 'диня']
chosen_item = random.choices(items, weights=[1,10,4,1], k=2)
print(chosen_item)

['банан', 'банан']

## sample

In [ ]:
import random

participants = ['Анна', 'Богдан', 'Віктор', 'Галина', 'Дмитро', 'Олена', 'Женя', 'Зорян', 'Ігор', 'Йосип']
team = random.sample(participants, 4)
print(f"Команда: {team}")

Команда: ['Женя', 'Богдан', 'Зорян', 'Анна']

`random.randint(a, b)`. Отримання випадкового цілого числа з рівномірного розподілу в інтервалі між a та b включно.

`random.random()`. Отримання випадкового числа в інтервалі між 0.0 (включно) та 1.0 (не включно).

`random.randrange(start, stop[, step])`. Отримання випадкового числа із заданого діапазону з можливістю вказати крок між значеннями.

`random.shuffle(x)`. Перемішування порядку елементів у списку x.

`random.choice(seq)`. Вибір випадкового елемента з послідовності seq (списку або кортежу).

`random.choices(population, weights=None, cum_weights=None, k=1)`. Генерація випадкової вибірки з можливістю зазначити ймовірності для кожного елемента та повторення у вибірці.

`random.sample(population, k)`. Отримання унікальних випадкових елементів зі списку population довжиною k.
random.uniform(a, b): Отримання випадкового дійсного числа N, такого, що a <= N <= b.

# Математичні функції та операції

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
math.e

2.718281828459045

In [ ]:
math.tau

6.283185307179586

In [ ]:
math.inf

inf

In [ ]:
math.nan

nan

In [ ]:
import math

# Вихідне число
x = 3.7

# Використання різних методів округлення
ceil_result = math.ceil(x)  # Округлення вгору
floor_result = math.floor(x)  # Округлення вниз
trunc_result = math.trunc(x)  # Відсікання дробової частини

print(ceil_result, floor_result, trunc_result)

4 3 3

In [ ]:
math.pow(2, 3)

8.0

In [ ]:
math.sqrt(16)

4.0

In [ ]:
def stats_summary(values):
    if not values:
        raise ValueError("Порожній список.")
    n = len(values)
    mn = min(values)
    mx = max(values)
    mean = math.fsum(values) / n
    var = math.fsum((x - mean) ** 2 for x in values) / n
    return {"min": mn, "max": mx, "mean": mean, "std": math.sqrt(var)}

In [ ]:
print(stats_summary([1, 2, 3, 4, 5]))

{'min': 1, 'max': 5, 'mean': 3.0, 'std': 1.4142135623730951}

In [ ]:
import math

def solve_quadratic_simple(a, b, c):
    # Перевірка типів
    for name, v in (("a", a), ("b", b), ("c", c)):
        if not isinstance(v, (int, float)):
            print(f"{name} має бути числом (int/float), отримано {type(v).__name__}.")

    a, b, c = float(a), float(b), float(c)
    if a == 0.0:
        print("Коефіцієнт a не може дорівнювати 0 для квадратного рівняння.")

    # Дискримінант
    D = b*b - 4*a*c

    # Перевірка знаку дискримінанта і корені
    if D > 0:
        r1 = (-b - math.sqrt(D)) / (2*a)
        r2 = (-b + math.sqrt(D)) / (2*a)
        roots = [r1, r2]
        status = "два різних дійсних корені"
    elif D == 0:
        r = -b / (2*a)
        roots = [r]
        status = "подвійний дійсний корінь"
    else:
        roots = []  # дійсних коренів немає
        status = "дійсних коренів немає (D < 0)"

    return {"discriminant": D, "roots": roots, "status": status}

In [ ]:
print(solve_quadratic_simple(1, -3, 2))   # два корені: 1 і 2
print(solve_quadratic_simple(1, 2, 1))    # подвійний корінь: -1
print(solve_quadratic_simple(1, 0, 1))    # D < 0 → дійсних немає
print(solve_quadratic_simple('1', 0, 1))    # D < 0 → дійсних немає

{'discriminant': 1.0, 'roots': [1.0, 2.0], 'status': 'два різних дійсних корені'}
{'discriminant': 0.0, 'roots': [-1.0], 'status': 'подвійний дійсний корінь'}
{'discriminant': -4.0, 'roots': [], 'status': 'дійсних коренів немає (D < 0)'}
a має бути числом (int/float), отримано str.
{'discriminant': -4.0, 'roots': [], 'status': 'дійсних коренів немає (D < 0)'}

## порівняння дійсних чисел

In [ ]:
import math

r = math.isclose(0.1 + 0.2, 0.3)
print(r)  # Це поверне True

True

# Часові операції у програмуванні

In [ ]:
import datetime
from datetime import timezone, timedelta
import time

In [ ]:
now = datetime.datetime.now()
print(now)

2025-11-05 07:56:23.486438

In [ ]:
current_datetime = datetime.datetime.now()

print(current_datetime.year)
print(current_datetime.month)
print(current_datetime.day)
print(current_datetime.hour)
print(current_datetime.minute)
print(current_datetime.second)
print(current_datetime.microsecond)
print(current_datetime.tzinfo)

2025
11
5
7
56
23
517094
None

In [ ]:
def day_of_week_fuct(day:int)-> str:
    match day:
        case 1: return "monday"
        case 2: return "tuesday"
        case 3: return "wednesday"
        case 4: return "Thursday"
        case 5: return "Friday"
        case 6: return "Saturday"
        case 6: return "Sunday"

In [ ]:
def get_datetime_human(curr_datetime):
    if curr_datetime:
        print(f"Current year is {curr_datetime.year}, month is {curr_datetime.month} day is {day_of_week_fuct(curr_datetime.day)} hour is {curr_datetime.hour}")

In [ ]:
get_datetime_human(current_datetime)

Current year is 2025, month is 11 day is Friday hour is 7

In [ ]:


current_datetime = datetime.datetime.now()
print(current_datetime.date())
print(current_datetime.time())

print(type(current_datetime))
print(type(current_datetime.date()))

print(str(current_datetime.date()))

2025-11-05
07:56:23.581590
<class 'datetime.datetime'>
<class 'datetime.date'>
2025-11-05

In [ ]:
isinstance(current_datetime, datetime.datetime)

True

In [ ]:
def parse_day_time(curr):
    if isinstance(current_datetime, datetime.datetime):
        year = str(current_datetime.date()).split('-')[0]
        month = str(current_datetime.date()).split('-')[1]
        day = str(current_datetime.date()).split('-')[2]

    return (year, month, day)

In [ ]:
res = parse_day_time(current_datetime)

In [ ]:
type(res)

tuple

In [ ]:
# import datetime

# Створення об'єктів date і time
date_part = datetime.date(2023, 12, 14)
time_part = datetime.time(12, 30, 15)

# Комбінування дати і часу в один об'єкт datetime
combined_datetime = datetime.datetime.combine(date_part, time_part)

print(combined_datetime)  # Виведе "2023-12-14 12:30:15"

2023-12-14 12:30:15

In [ ]:
def combine_date_time(date_val, time_val):
    date_part = datetime.date(*date_val)
    time_part = datetime.time(*time_val)

    # Комбінування дати і часу в один об'єкт datetime
    combined_datetime = datetime.datetime.combine(date_part, time_part)

    return combined_datetime

In [ ]:
combine_date_time((2023, 12, 14), (12, 30, 15))

datetime.datetime(2023, 12, 14, 12, 30, 15)

In [ ]:


# Створення об'єкта datetime з конкретною датою
specific_date = datetime.datetime(year=2020, month=1, day=7)

print(specific_date)

2020-01-07 00:00:00

In [ ]:


# Створення об'єкта datetime з конкретною датою і часом
specific_datetime = datetime.datetime(year=2020, month=1, day=7, hour=14, minute=30, second=15)

print(specific_datetime)

2020-01-07 14:30:15

In [ ]:


# Створення об'єкта datetime
now = datetime.datetime.now()

# Отримання номера дня тижня
day_of_week = now.weekday()

# Поверне число від 0 (понеділок) до 6 (неділя)
print(f"Сьогодні: {day_of_week}")

Сьогодні: 2

In [ ]:


# Створення двох об'єктів datetime
datetime1 = datetime.datetime(2023, 3, 14, 12, 0)
datetime2 = datetime.datetime(2023, 3, 15, 12, 0)

# Порівняння дат
print(datetime1 == datetime2)  # False, тому що дати не однакові
print(datetime1 != datetime2)  # True, тому що дати різні
print(datetime1 < datetime2)   # True, тому що datetime1 передує datetime2
print(datetime1 > datetime2)   # False, тому що datetime1 не наступає за datetime2

False
True
True
False

## Часові проміжки

In [ ]:

delta = timedelta(
    days=50,
    seconds=27,
    microseconds=10,
    milliseconds=29000,
    minutes=5,
    hours=8,
    weeks=2
)
print(delta)

64 days, 8:05:56.000010

In [ ]:


seventh_day_2019 = datetime.datetime(year=2019, month=1, day=7, hour=14)
seventh_day_2020 = datetime.datetime(year=2020, month=1, day=7, hour=14)

difference = seventh_day_2020 - seventh_day_2019
print(difference)  # 365 days, 0:00:00
print(difference.total_seconds())  # 31536000.0

365 days, 0:00:00
31536000.0

In [ ]:


seventh_day_2020 = datetime.datetime(year=2020, month=1, day=7, hour=14)
four_weeks_interval = timedelta(weeks=4)

print(seventh_day_2020 + four_weeks_interval)  # 2020-02-04 14:00:00
print(seventh_day_2020 - four_weeks_interval)  # 2019-12-10 14:00:00

2020-02-04 14:00:00
2019-12-10 14:00:00

## Робота з timestamp

In [ ]:


# Поточний час
now = datetime.datetime.now()

# Конвертація datetime в timestamp
timestamp = datetime.datetime.timestamp(now)
print(timestamp)  # Виведе timestamp поточного часу

1762329383.7739

In [ ]:


# Припустимо, є timestamp
timestamp = 1617183600

# Конвертація timestamp назад у datetime
dt_object = datetime.datetime.fromtimestamp(timestamp)
print(dt_object)  # Виведе відповідний datetime

2021-03-31 09:40:00

## Парсинг дати із рядка

%Y - рік з чотирма цифрами (наприклад, 2023).

%y - рік з двома цифрами (наприклад, 23).

%m - місяць як номер (наприклад, 03 для березня).

%d - день місяця як номер (наприклад, 14).

%H - година (24-годинний формат) (наприклад, 15).

%I - година (12-годинний формат) (наприклад, 03).

%M - хвилини (наприклад, 05).

%S - секунди (наприклад, 09).

%A - повна назва дня тижня (наприклад, Tuesday).

%a - скорочена назва дня тижня (наприклад, Tue).

%B - повна назва місяця (наприклад, March).

%b або %h - скорочена назва місяця (наприклад, Mar).

%p - AM або PM для 12-годинного формату.

In [ ]:


now = datetime.datetime.now()

# Форматування дати і часу
formatted_date = now.strftime("%Y-%m-%d %H:%M:%S")
print(formatted_date)

# Форматування лише дати
formatted_date_only = now.strftime("%A, %d %B %Y")
print(formatted_date_only)

# Форматування лише часу
formatted_time_only = now.strftime("%I:%M %p")
print(formatted_time_only)

# Форматування лише дати
formatted_date_only = now.strftime("%d.%m.%Y")
print(formatted_date_only)

2025-11-05 07:56:23
Wednesday, 05 November 2025
07:56 AM
05.11.2025

In [ ]:


# Припустимо, у нас є дата у вигляді рядка
date_string = "2023.03.14"

# Перетворення рядка в об'єкт datetime
datetime_object = datetime.datetime.strptime(date_string, "%Y.%m.%d")
print(datetime_object)  # Виведе об'єкт datetime, що відповідає вказаній даті та часу

2023-03-14 00:00:00

## Робота з ISO форматом дати

In [ ]:


# Поточна дата та час
now = datetime.datetime.now()

# Конвертація у формат ISO 8601
iso_format = now.isoformat()
print(iso_format)

2025-11-05T07:56:23.812247

In [ ]:


iso_date_string = "2023-03-14T12:39:29.992996"

# Конвертація з ISO формату
date_from_iso = datetime.datetime.fromisoformat(iso_date_string)
print(date_from_iso)

2023-03-14 12:39:29.992996

In [ ]:


# Створення об'єкта datetime
now = datetime.datetime.now()

# Використання isoweekday() для отримання дня тижня
day_of_week = now.isoweekday()

print(f"Сьогодні: {day_of_week}")  # Поверне число від 1 до 7, що відповідає дню тижня

Сьогодні: 3

In [ ]:
def day_of_week_fuct(day:int)-> str:
    match day:
        case 1: return "monday"
        case 2: return "tuesday"
        case 3: return "wednesday"
        case 4: return "Thursday"
        case 5: return "Friday"
        case 6: return "Saturday"
        case 6: return "Sunday"

In [ ]:
day_of_week_fuct(day_of_week)

'wednesday'

In [ ]:


# Створення об'єкта datetime
now = datetime.datetime.now()

# Отримання ISO календаря
iso_calendar = now.isocalendar()

print(f"ISO рік: {iso_calendar[0]}, ISO тиждень: {iso_calendar[1]}, ISO день тижня: {iso_calendar[2]}")

ISO рік: 2025, ISO тиждень: 45, ISO день тижня: 3

## Робота з часовими зонами

In [ ]:


local_now = datetime.datetime.now()
utc_now = datetime.datetime.now(timezone.utc)

print(local_now)
print(utc_now)  # Виведе поточний час в UTC

2025-11-05 07:56:23.843278
2025-11-05 07:56:23.843359+00:00

In [ ]:


utc_time = datetime.datetime.now(timezone.utc)

# Створення часової зони для Східного часового поясу (UTC-5)
eastern_time = utc_time.astimezone(timezone(timedelta(hours=-5)))
# Перетворює час UTC в час Східного часового поясу
print(eastern_time)

2025-11-05 02:56:23.850886-05:00

In [ ]:


# Припустимо, місцевий час належить до часової зони UTC+2
local_timezone = timezone(timedelta(hours=2))
local_time = datetime.datetime(year=2023, month=3, day=14, hour=12, minute=30, second=0, tzinfo=local_timezone)

# Конвертація локального часу в UTC
utc_time = local_time.astimezone(timezone.utc)
print(utc_time)  # Виведе час в UTC

2023-03-14 10:30:00+00:00

In [ ]:


# Час у конкретній часовій зоні
timezone_offset = timezone(timedelta(hours=2))  # Наприклад, UTC+2
timezone_datetime = datetime.datetime(year=2023, month=3, day=14, hour=12, minute=30, second=0, tzinfo=timezone_offset)

# Конвертація у формат ISO 8601
iso_format_with_timezone = timezone_datetime.isoformat()
print(iso_format_with_timezone)

2023-03-14T12:30:00+02:00

## Робота з часом

In [ ]:


current_time = time.time()
print(f"Поточний час: {current_time}")

Поточний час: 1762329383.877107

In [ ]:
import time

print("Початок паузи")
time.sleep(5)
print("Кінець паузи")

Початок паузи
Кінець паузи

In [ ]:


current_time = time.time()
print(f"Поточний час: {current_time}")

readable_time = time.ctime(current_time)
print(f"Читабельний час: {readable_time}")

Поточний час: 1762329388.8954473
Читабельний час: Wed Nov  5 07:56:28 2025

In [ ]:


current_time = time.time()
print(f"Поточний час: {current_time}")

local_time = time.localtime(current_time)
print(f"Місцевий час: {local_time}")

Поточний час: 1762329388.9064362
Місцевий час: time.struct_time(tm_year=2025, tm_mon=11, tm_mday=5, tm_hour=7, tm_min=56, tm_sec=28, tm_wday=2, tm_yday=309, tm_isdst=0)

## Лічильник часу

In [ ]:


# Записуємо час на початку виконання
start_time = time.perf_counter()

# Виконуємо якусь операцію
for _ in range(1_000_000):
    pass  # Просто проходить цикл мільйон разів

# Записуємо час після виконання операції
end_time = time.perf_counter()

# Розраховуємо та виводимо час виконання
execution_time = end_time - start_time
print(f"Час виконання: {execution_time} секунд")

Час виконання: 0.047529171000007864 секунд